{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

<header>
    <div class="logo">
        <button class="menu-toggle" aria-label="Toggle menu">
            ☰
        </button>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">خانه <i class="bi bi-house"></i></a></li>
            <li><a href="{% url 'news' %}">اخبار امنیتی <i class="bi bi-newspaper"></i></a></li>
            <li><a href="{% url 'about_us' %}">درباره ما <i class="bi bi-info-circle"></i></a></li>
            <li><a href="{% url 'privacy' %}">حریم خصوصی <i class="bi bi-shield-shaded"></i></a></li>
        </ul>
    </nav>
</header>

<div class="layout">
    {% include 'trending.html' %}
    
    <main>
        {% block content %}{% endblock content %}
    </main>
</div>


<footer>
    <p>©{% now "Y" %} - کلیه حقوق مادی و معنوی این وب‌سایت متعلق به <strong>Flux Security Lab</strong> میباشد.</p>
    <button id="theme-toggle">🌙</button>
</footer>

<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/typing.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>

</body>
</html>
