<aside class="trending-news">
    <h3>لینک سریع اخبار</h3>
    <ul class="white-list">
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        <li>
            <span class="badge warning">بحرانی</span>
            <a href="/news/">حمله سایبری جدید به بانک‌ها <i class="bi bi-newspaper"></i></a>
            <small><i class="bi bi-calendar"></i> ۵ ساعت پیش  </small>
        </li>
        
    </ul>
</aside>
